$myOrange: #FDC132;
$myViolet: #874EDD;
$myVioletDarker: #723fbf;
$myGrey75: #757575;
$myBlue: #8B9AFF;
$myGreyE5: #E5E5E5;

$defaultTextSize: 12px;

/* --------------------------------- */
/* -------------- BODY ------------- */
/* --------------------------------- */

body {
	font-family: Roboto;
	padding: 0; 
	margin: 0 5%;
	align-items: center;
	justify-content: center;
	background: $myBlue;
	display: flex;
}

a {
    text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.section {
	margin: 12px;
}

#allSections {
 display : flex;
 justify-content: space-around;
}



#sectionsLeft{
	display : flex;
	flex-direction: column;
 	justify-content: space-between;

}

#sectionsLeft:nth-child(1)
{
    flex: 1;
}
#sectionsLeft:nth-child(2)
{
    flex: 3;
}

#sectionsRight{
	display : flex;
	flex-direction: column;
 	justify-content: space-between;
}

#sectionsRight:nth-child(1)
{
    flex: 1;
}
#sectionsRight:nth-child(2)
{
    flex: 2;
}

#sectionsBottomRight{
	display : flex;
 	justify-content: space-around;
}

#sectionsBottomRight:nth-child(1)
{
    flex: 2;
}
#sectionsBottomRight:nth-child(2)
{
    flex: 1;
}

/* --------------------------------- */
/* ------------ SCROLLBAR ---------- */
/* --------------------------------- */

::-webkit-scrollbar {
	width: 8px;
}
  
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: $myViolet;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: $myOrange;
	transition: .2s;
}

/* --------------------------------- */
/* ---------- COMPONENTS ----------- */
/* --------------------------------- */

.box {
	background-color: $myViolet;
	border-radius: 2px;
	color: white;

	margin-top: auto;
	margin-bottom: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rankingNumber {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 20px;

	color: $myOrange;

	display: flex;
	align-items: center;
	text-align: center;
}

.highlightedRankingNumber {
	font-size: 35px;
	color: $myViolet;
}

/* --------------------------------- */
/* ------------- SECTION ----------- */
/* --------------------------------- */

.section {
	background-color: white;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	padding: 17px;
}
.sectionTitle {
	color: #464646;
	font-style: normal;
	font-weight: bold;
	font-size: 1em;
	line-height: 0px;

	margin-bottom: 30px;

	text-align: left;
}

/* ----------------------------------------- */
/* -------------- INTRODUCTION ------------- */
/* ----------------------------------------- */

.introText {
	font-size: 0.9em;
	line-height: auto;

	color: $myGrey75;
}

.citatimacButton .box {
	width: 23%;
	padding: 2% 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.05em;
}

/* ----------------------------------------- */
/* ----------- TOP DES CITATIONS ----------- */
/* ----------------------------------------- */

$citationHeight: 68px;

#topCitations { 
	width: 467px;
	//height: 610px;

	display: flex;
	flex-direction: column;

	.box {
		width: $citationHeight;
		height: $citationHeight;
		font-size: 13px;
		.nbLikes {
			font-size: 16px;
			font-weight: bold;
		}
	}
}

.citationText {
	font-style: italic;
	font-weight: bold;
	font-size: $defaultTextSize;
	line-height: 13px;
	overflow: auto;
	height: auto;
	margin-block-start: 0.6em;

	color: $myGrey75;
	flex-grow: 1;
}
.citationAuthor {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 5px;
	color: #BEBEBE;
	align-self: flex-start;
	margin-bottom: 5px;
}

.citationContainer {
	margin-top: 0px;
	margin-bottom : 20px;
	width: 95%;

	display: grid;
	grid-template-columns: 10% 17% 73%;
	
	.rankingNumber {
		grid-column-start: 1;
	}
	.box {
		grid-column-start: 2;
	}
	.citationTextAndAuthor {
		grid-column-start: 3;
	}
}

.citationTextAndAuthor {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	height: $citationHeight;
}

.pageNavigation {
	margin-top: auto;
	font-size: 0.6em;
	color: #6C6C6C;

	display: flex;
	justify-content: center;
	.pageNavInput {
		margin-right: 5px;
	}
	.pageNavButtons {
		display: flex;
	}

	input {
		width: 25px;
		height: 14px;
		border: 1px solid #DDDDDD;
		box-sizing: border-box;
		border-radius: 2px;
		font-size: 1em;
		font-family: Roboto;
		padding: 3px;
		color: #6C6C6C;
	}
	button {
		background-color: $myViolet;
		color: white;
		border-radius: 2px;

		width: 14px;
		height: 14px;
		margin: 0 1px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		border: none;
		outline: none;
		transition: .2s;
	  
		&:active {
			background: $myOrange;
		}
		&:hover {
			background: $myOrange;
		}
		&:disabled {
			/*visibility: hidden;*/
			background: white;
		}
	}
}

/* ----------------------------------------- */
/* ----------- TOP DES CONNERIES ----------- */
/* ----------------------------------------- */

#topConneries { 
	width: 300px;
	height: 365px;

	display: flex;
	flex-direction: column;

	.authorType {
		font-size: 12px;
		color: $myGrey75;
	}
	.box {
		padding: 4px 0;
		background-color: $myOrange;
		.nbCitationsAuthorType {
			font-size: 14px;
			font-weight: bold;
		}
	}
	:first-child {
		.box {
			background-color: $myViolet;
		}
		.authorType {
			font-size: 14px;
			font-weight: bold;
			color: $myViolet;
		}
	}
}

.conneriesContainer {
	margin-top: 0px;
	margin-bottom : 7px;
	width: 95%;

	display: grid;
	grid-template-columns: 10% 60% 32%;
	
	.rankingNumber {
		grid-column-start: 1;
	}
	.authorType {
		grid-column-start: 2;
	}
	.box {
		grid-column-start: 3;
	}
}

/* ----------------------------------------- */
/* ------------- TOP DES TAGS -------------- */
/* ----------------------------------------- */

 #topTags {
	width: 500px;
	height : 365px;
	display : flex;
	flex-direction : column;
 }

/* ----------------------------------------- */
/* --------- CITATIONS PAR PERIODE --------- */
/* ----------------------------------------- */

.formTime{
	

	button {

	background: rgba(201, 201, 201, 0.1);
	border-radius: 4px;
	text-align: center;
	color : #9C9C9C;;
	margin : 3px;
	width: 85px;
	height: 25px;	
	margin : 3px;
	width: 85px;
	height: 25px;

}

	.selectedButton{

	background: #FDDA3E;
	mix-blend-mode: normal;
	border: 1px solid #FDD31C;
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;
	font-style : bold;
	color : white;
	margin : 3px;
	width: 85px;
	height: 25px;

	}

	select{
	
	/* Base/White */

	background: #FFFFFF;
	border: 1px solid #DADADA;
	box-sizing: border-box;
	border-radius: 4px;	
	text-align : center;
	color: #B7B7B7;
	margin : 3px;
	width: 65px;
	height: 25px;
	}

	.selectedDate{
	
	/* Selected*/

	background: #FFFFFF;
	border: 2px solid #FDD31C;
	box-sizing: border-box;
	border-radius: 4px;	
	color: #FDD31C;
	font-style : bold;
	margin : 3px;
	width: 65px;
	height: 25px;
	}


}
