$titleColor: #db7500;
$textColor: black;
$black: #1b2642;
$myViolet: #874EDD;
$myOrange: #FDC132;

body {
	font-family: Roboto;
	padding: 0; 
	margin: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #E5E5E5;
	display: flex;
	color: $textColor;
}

button {
	background: $black;
	color: $textColor;
	border-radius: 5px;
	border: 1px solid $textColor;
	font-size: 2em;
	font-weight: 100;
	outline: none;
	margin: 0;
	padding: 5px 15px 10px;
	transition: .2s;
  
	&:hover, &:active, &:disabled {
		background: $textColor;
		color: $black;
	}
	&:active {
		outline: 2px solid $textColor;
	}
	&:focus {
		border: 1px solid $textColor;
	}
	button + button {
		margin-left: 3px;
	}
}

/* ----------- COMPONENTS ----------- */

.box {
	background-color: $myViolet;
	border-radius: 2px;
	color: white;
}

/* ----------- SECTION ----------- */

.section {
	background-color: white;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.sectionTitle {
	color: #464646;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}

/* ----------- CITATIONS LES PLUS LIKEES ----------- */

.citationText {
	font-style: italic;
}
.citationAuthor {
	color: gray;
}