$myOrange: #FDC132;
$myViolet: #874EDD;
$myVioletDarker: #723fbf;
$myGrey75: #757575;
$myGreyE5: #E5E5E5;
$myBlue: #8B9AFF;
$myBg: #F9F9F9;

$defaultTextSize: 12px;

/* --------------------------------- */
/* -------------- BODY ------------- */
/* --------------------------------- */

body {
	font-family: Roboto;
	//padding: 0; 
	margin: 1% 5%;
	align-items: center;
	justify-content: center;
	background: $myGreyE5;
	display: flex;
}

a {
    text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.section {
	margin: 8px;
}

#allSections {
 display : flex;
 justify-content: space-around;
}

#sectionsLeft{
	display : flex;
	flex-direction: column;
 	justify-content: space-between;
}

#sectionsLeft:nth-child(1)
{
    flex: 1;
}
#sectionsLeft:nth-child(2)
{
    flex: 3;
}

#sectionsRight{
	display : flex;
	flex-direction: column;
	 justify-content: space-between;
}

#sectionsRight:nth-child(1)
{
	flex: 2;
}
#sectionsRight:nth-child(2)
{
    flex: 2;
}

#sectionsBottomRight{
	display : flex;
 	justify-content: space-around;
}

/* --------------------------------- */
/* ------------ SCROLLBAR ---------- */
/* --------------------------------- */

::-webkit-scrollbar {
	width: 8px;
}
  
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: $myViolet;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: $myOrange;
	transition: .2s;
}

/* --------------------------------- */
/* --------- DROPDOWN LIST --------- */
/* --------------------------------- */

/* Dropdown Button */
.dropdownButton {
	width : 92px;
	border: 1px solid #9C9C9C;
	box-sizing: border-box;
	color : #9C9C9C;
	background: white;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}
}
  
/* The container <div> - needed to position the dropdown content */
.dropdownList {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
	border-top: 1px solid #9C9C9C;
	border-radius: 4px;

	width: 92px;
	z-index: 1;
	position: absolute;
	display: none;
}
.dropdownContentElement {
	border: 1px solid #9C9C9C;
	border-top: 0px;
	border-radius: 4px;
	text-align: center;
	//background-color: rgb(250, 250, 250);
	background-color: white;
	color: #9C9C9C;
	font: 400 13.3333px Arial;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 4px;
	&:hover {
		background-color: $myOrange;
		color: white;
	}
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* --------------------------------- */
/* ---------- COMPONENTS ----------- */
/* --------------------------------- */

.box {
	background-color: $myViolet;
	border-radius: 2px;
	color: white;

	margin-top: auto;
	margin-bottom: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rankingNumber {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 1.1em;
	//line-height: 20px;

	color: $myOrange;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.highlightedRankingNumber {
	font-size: 1.9em;
	color: $myViolet;
}

/* --------------------------------- */
/* ------------- SECTION ----------- */
/* --------------------------------- */

.section {
	background-color: white;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	padding: 3%;
}
.sectionTitle {
	color: #464646;
	font-style: normal;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 0px;
	
	margin-bottom: 25px;

	text-align: left;
}

/* ----------------------------------------- */
/* -------------- INTRODUCTION ------------- */
/* ----------------------------------------- */

// #intro {
// 	height : 15%;
// }

.introText {
	font-size: 0.85em;
	line-height: auto;
	color: $myGrey75;
}

.citatimacButton .box {
	width: 23%;
	padding: 2% 1%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	//border : 2px solid $myViolet;

}

.citatimacButton:hover .box:hover {
	background-color : $myOrange;
	color : white;
	
}

/* ----------------------------------------- */
/* ----------- TOP DES CITATIONS ----------- */
/* ----------------------------------------- */
$citationHeight: 68px;

#topCitations { 
	height: 80%;
	display: flex;
	flex-direction: column;

	.box {
		width: $citationHeight;
		height: $citationHeight;
		font-size: 0.8em;
		.nbLikes {
			font-size: 1.2em;
			font-weight: bold;
		}
	}
}

.citationText {
	font-style: italic;
	font-weight: bold;
	font-size: $defaultTextSize;
	line-height: 13px;
	overflow: auto;
	height: auto;
	margin-block-start: 0.5em;
	color: $myGrey75;
	flex-grow: 1;
	// Prevent overflow of long words
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.citationAuthor {
	font-style: normal;
	font-weight: normal;
	font-size: 0.75em;
	line-height: 5px;
	color: #BEBEBE;
	align-self: flex-start;
	margin-bottom: 2px;
}

.citationContainer {
	margin-bottom : 4%;
	margin-left : 0%;
	width: 95%;
	//height : 20%;

	display: grid;
	grid-template-columns: 10% 17% 73%;
	
	.rankingNumber {
		grid-column-start: 1;
	}
	.box {
		grid-column-start: 2;
	}
	.citationTextAndAuthor {
		grid-column-start: 3;
	}
}

.citationTextAndAuthor {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	height: $citationHeight;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
}

.pageNavigation {
	margin-top: auto;
	font-size: 0.8em;
	padding-top: 1%;
	color: #6C6C6C;
	display: flex;
	justify-content: center;
	.pageNavInput {
		margin-right: 5px;
	}
	.pageNavButtons {
		display: flex;
		button {
			&:hover {
				cursor: pointer;
			}
			&:disabled {
				cursor: default;
			}
		}
	}

	input {
		width: 25px;
		height: 14px;
		border: 1px solid #DDDDDD;
		box-sizing: border-box;
		border-radius: 2px;
		font-size: 1em;
		font-family: Roboto;
		padding: 3px;
		color: #6C6C6C;
	}
	button {
		background-color: $myViolet;
		color: white;
		border-radius: 2px;

		width: 14px;
		height: 14px;
		margin: 0 1px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		border: none;
		outline: none;
		transition: .2s;
	  
		&:active {
			background: $myOrange;
		}
		&:hover {
			background: $myOrange;
		}
		&:disabled {
			/*visibility: hidden;*/
			background: white;
		}
	}
}

/* ----------------------------------------- */
/* ----------- TOP DES CONNERIES ----------- */
/* ----------------------------------------- */

#topConneries { 
	width: 35%;
	display: flex;
	flex-direction: column;
	padding-top:2%;
	padding-bottom:2%;

	// .conneriesAuthorList{
		
	// }

	.authorType {
		font-size: 0.8em;
		color: $myGrey75;
	}
	.box {
		padding: 4% 1%;
		background-color: $myOrange;
		.nbCitationsAuthorType {
			font-size: 0.85em;
			font-weight: bold;
		}
	}
	:first-child {
		.box {
			background-color: $myViolet;
		}
		.authorType {
			font-size: 0.8em;
			font-weight: bold;
			color: $myViolet;
		}
	}
}

.conneriesContainer {
	width: 95%;
	margin: 0;
	display: grid;
	grid-template-columns: 10% 60% 32%;
	
	.rankingNumber {
		grid-column-start: 1;
	}
	.authorType {
		grid-column-start: 2;
	}
	.box {
		grid-column-start: 3;
	}
}

/* ----------------------------------------- */
/* ------------- TOP DES TAGS -------------- */
/* ----------------------------------------- */

 #topTags {
	width: 50%;
	display : flex;
	flex-direction : column;
	padding-top:2%;
	padding-bottom:2%;
 }

/* ----------------------------------------- */
/* -------------- OVER TIME ---------------- */
/* ----------------------------------------- */
#overTime {
	padding:2%;
	display: flex;
	flex-direction : column;
	width: 94%;
}

.formTime{
	text-align: right;
	button {
		border-radius: 4px;
		height: 25px;
		text-align: center;
	}
	#selectMonthOrYearButtons {
		margin: 3px;
		button {
			margin : 3px;
			width: 85px;
			&:enabled {
				background: rgba(201, 201, 201, 0.1);
				color : #9C9C9C;
				&:focus {
					outline: none;
				}
				&:hover {
					cursor: pointer;
				}
			}
			&:disabled {
				background: $myOrange;
				mix-blend-mode: normal;
				border: 1px solid #FDD31C;
				box-sizing: border-box;
				color : white;
			}
		}
	}
}



/***************************************/
/************* RESPONSIVE **************/
/***************************************/

@media (max-width:1415px) {
 
/* -------------- BODY ------------- */
body { 
	margin: 1% 2%;
}

.section {
	margin: 5px;
}

/* ------------- SECTION ----------- */
.sectionTitle {
	font-size: 1em;
}

/* -------------- INTRODUCTION ------------- */
.introText {
	font-size: 0.75em;
}

/* ----------- TOP DES CITATIONS ----------- */
.citationTextAndAuthor {
	margin-left: 10%;
}

.pageNavigation {
	font-size: 0.7em;
}

/* ----------- TOP DES CONNERIES ----------- */
#topConneries { 
	.box {
		.nbCitationsAuthorType {
			font-size: 0.75em;
		}
	}
}

/* ------------- TOP DES TAGS -------------- */
 #topTags {
	width: 49%;
 }

}

@media (max-width:1100px) {
/* -------------- BODY ------------- */
body {
	margin: 1% 1%;
}

/* ---------- COMPONENTS ----------- */
.rankingNumber {
	font-size: 1em;
}

.highlightedRankingNumber {
	font-size: 1.75em;
}

/* ------------- SECTION ----------- */
.sectionTitle {
	font-size: 0.9em;
	margin-bottom: 20px;
}

/* -------------- INTRODUCTION ------------- */
.introText {
	font-size: 0.7em;
}

.citatimacButton .box {
	width: 28%;
	font-size: 0.7em;
}
/* ----------- TOP DES CITATIONS ----------- */
$citationHeight: 68px;

#topCitations { 
	height: 80%;
	.box {
		width: $citationHeight - 5;
		height: $citationHeight - 5;
		font-size: 0.7em;
		.nbLikes {
			font-size: 1.1em;
		}
	}
}

.citationText {
	font-size: 0.7em;
	line-height: 12px;
}

.citationAuthor {
	font-size: 0.7em;
	line-height: 5px;
	margin-bottom: 2px;
}

.citationContainer {
	margin-bottom : 4%;
	margin-left : 0%;
	width: 95%;
}

.citationTextAndAuthor {
	height: $citationHeight;
	margin-left: 11%;
}

/* ----------- TOP DES CONNERIES ----------- */
#topConneries { 
	width: 35%;
	.authorType {
		font-size: 0.7em;
	}
}

}

@media (max-width:970px) {
	/* -------------- BODY ------------- */
	body {
		margin: 1% 2%;
	}
	
	.section {
		margin-top: 3%;
	}
	
	#allSections {
		display : flex;
		flex-direction: column;
	}
	
	#sectionsLeft{
		display : flex;
		flex-direction: column;
	}
	
	#sectionsRight{
		display : flex;
		flex-direction: column;
	}
	
	#sectionsBottomRight{
		display : flex;
		flex-direction: column;
	}
	
	/* ---------- COMPONENTS ----------- */
	.rankingNumber {
		font-size: 0.9em;
	}
	
	.highlightedRankingNumber {
		font-size: 1.3em;
	}
	
	/* ------------- SECTION ----------- */
	.sectionTitle {
		font-size: 1em;
	}
	
	/* -------------- INTRODUCTION ------------- */
	#intro {
		width: 380px;
	}
	
	.introText {
		font-size: 0.73em;
	}
	
	.citatimacButton .box {
		padding: 2% 2%;
		font-size: 0.7em;
	}
	
	/* ----------- TOP DES CITATIONS ----------- */
	$citationHeight: 85px;
	
	#topCitations { 
		width: 380px;
		height: 80%;
		display: flex;
		flex-direction: column;
	
		.box {
			width: $citationHeight - 8;
			height: $citationHeight - 5;
			font-size: 0.8em;
			.nbLikes {
				font-size: 1.1em;
			}
		}
	}
	
	.citationText {
		margin-block-start: 0.3em;
	}
	.citationAuthor {
		font-size: 0.7em;
		margin-bottom: -10px;
		line-height: 1em;
	}
	
	.citationContainer {
		margin-bottom : 5%;
	}
	
	.citationTextAndAuthor {
		margin-left: 10%;
	}
	
	.pageNavigation {
		font-size: 0.7em;
		padding-top: 2%;
		margin-bottom: 2%;
	}
	
	/* ----------- TOP DES CONNERIES ----------- */
	#topConneries { 
		width: 380px;
		padding-top:3%;
	}
	
	/* ------------- TOP DES TAGS -------------- */
	 #topTags {
		width: 380px;
		padding-top:3%;
	 }
	
	/* --------- CITATIONS PAR PERIODE --------- */
	#overTime {
		width: 388px;
		padding-top:3%;
	}
	
	.formTime{
		margin-bottom: 5%;
	}
	
	}

@media (max-width:560px) {
/* -------------- BODY ------------- */
body {
	margin: 1% 2%;
}

.section {
	margin-top: 3%;
}

#allSections {
	display : flex;
	flex-direction: column;
}

#sectionsLeft{
	display : flex;
	flex-direction: column;
}

#sectionsRight{
	display : flex;
	flex-direction: column;
}

#sectionsBottomRight{
	display : flex;
	flex-direction: column;
}

/* ---------- COMPONENTS ----------- */
.rankingNumber {
	font-size: 0.9em;
}

.highlightedRankingNumber {
	font-size: 1.3em;
}

/* ------------- SECTION ----------- */
.sectionTitle {
	font-size: 0.9em;
}

/* -------------- INTRODUCTION ------------- */
#intro {
	width: 280px;
}

.introText {
	font-size: 0.73em;
}

.citatimacButton .box {
	padding: 2% 2%;
	font-size: 0.7em;
}

/* ----------- TOP DES CITATIONS ----------- */
$citationHeight: 85px;

#topCitations { 
	width: 280px;
	height: 80%;
	display: flex;
	flex-direction: column;

	.box {
		width: $citationHeight - 30;
		height: $citationHeight - 5;
		font-size: 0.8em;
		.nbLikes {
			font-size: 1.1em;
		}
	}
}

.citationText {
	margin-block-start: 0.3em;
}
.citationAuthor {
	font-size: 0.7em;
	margin-bottom: -10px;
	line-height: 1em;
}

.citationContainer {
	margin-bottom : 5%;
}

.citationTextAndAuthor {
	margin-left: 10%;
}

.pageNavigation {
	font-size: 0.7em;
	padding-top: 2%;
	margin-bottom: 2%;
}

/* ----------- TOP DES CONNERIES ----------- */
#topConneries { 
	width: 280px;
	padding-top:3%;
}

/* ------------- TOP DES TAGS -------------- */
 #topTags {
	width: 280px;
	padding-top:3%;
 }

/* --------- CITATIONS PAR PERIODE --------- */
#overTime {
	width: 286px;
	padding-top:3%;
}

.formTime{
	margin-bottom: 5%;
}

}
